@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-[#f0f3ff]
}
body, #root{
    @apply w-full h-screen overflow-y-hidden
}
#user-container{
    height: calc(100vh - 70px);
}

#user-description, #user-offer {
    --sb-track-color: #f3f3ff;
    --sb-thumb-color: #7276b5;
    --sb-size: 8px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

#user-description::-webkit-scrollbar, #user-offer::-webkit-scrollbar {
    width: var(--sb-size)
}

#user-description::-webkit-scrollbar-track, #user-offer::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

#user-description::-webkit-scrollbar-thumb, #user-offer::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
}